* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --colour-lightblue: #c0e9ff;
    --colour-blue: #39a7ff;
    --colour-yellow: #ffc938;
    --colour-white: #fff;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    font-family: "Lemon", sans-serif;
    background: var(--colour-lightblue);
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    text-align: center;
    color: var(--colour-white);
    padding: 10px;
    background: var(--colour-blue);
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

header div {
    background: var(--colour-yellow);
    display: flex;
    align-items: center;
    height: 100px;
}

header a {
    font-size: 34px;
    display: flex;
    align-items: center;
    max-width: 550px;
    width: 100%;
    color: var(--colour-blue);
}

header a:first-child:not(li a) {
    color: var(--colour-white);
}

header li {
    list-style: none;
}

main {
    margin: 120px 0;
}

nav {
    width: 200%;
    margin: 25px;
}

nav a {
    display: inline-block;
    padding: 10px;
}

nav a:hover {
    background-color: var(--colour-white);
}

nav a:active {
    background-color: var(--colour-blue);
    color: var(--colour-white);
    transition: none !important;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    width: 25%;
    text-align: center;
}

.flip {
    transform: scaleX(-1);
    border-radius: 0 50px 50px 0 !important;
}

.image {
    position: relative;
    height: 50vw;
    max-height: 830px;
    border-radius: 50px 0 0 50px;
    min-height: 300px;
}

.page-content{
    height: 100vh;
    display: flex;
    align-items: center;
}

.text-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px 0 0 50px;
    background: var(--colour-blue);
    color: var(--colour-white);
    padding: 20px;
    z-index: 1;
    height: 52vw;
    width: 60vw;
    max-height: 850px;
    max-width: 1000px;
    min-height: 300px;
    min-width: 300px;
}

.text-left h1 {
    border-bottom: 1px solid var(--colour-white);
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

.text-left a {
    color: var(--colour-white);
}

.text-left a:hover {
    color: var(--colour-blue);
    background-color: var(--colour-white) !important;
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    transition: none !important;
}

.text-left a:hover h1 {
    border-bottom: none;
}

.text-left p,
.text-left ul {
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    margin: 10px 0;
    text-align: justify;
    letter-spacing: 1px;
    font-size: larger;
}

.text-left ul {
    margin: 0 20px;
}

.logo {
    width: 150px;
    filter: invert(100%);
}

#background {
    background: linear-gradient(
        var(--colour-lightblue) 90%,
        var(--colour-blue)
    );
    display: flex;
    flex-direction: column;
}

#bottom {
    display: flex;
    flex-direction: column;
    gap: 10em;
    align-items: center;
    justify-content: center;
    background: var(--colour-blue);
    height: 100vh;
    color: var(--colour-white);
    line-height: 1.2;
    min-width: 600px;
}

#bottom iframe {
    opacity: 0.5;
}

#bottom iframe:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#bottom h1 {
    padding: 25px 0;
    font-size: 40px;
}

#bottom p {
    margin: 10px 0;
    font-size: 24px;
}

#bottom ul {
    list-style: none;
    filter: invert(100%);
}

#bottom img {
    width: 50px;
    height: 50px;
}

#bottom-center {
    display: flex;
    gap: 2em;
    align-items: center;
}

#current-link {
    color: var(--colour-white);
    font-size: 40px;
}

#current-link:hover {
    background-color: var(--colour-blue);
}

#current-link:active {
    background-color: var(--colour-white);
    color: var(--colour-blue);
}

#first-image:hover + #first-text,
#second-image:hover + #second-text,
#second-image:hover + #second-text a,
#third-image:hover + #third-text,
#third-image:hover + #third-text a {
    width: 60px;
    color: transparent;
    min-width: unset;
    transition: width 0.5s ease-out;
}

#first-image:hover + #first-text h1,
#second-image:hover + #second-text h1,
#third-image:hover + #third-text h1 {
    border-bottom: none;
}

#first-image:not(hover) + #first-text,
#second-image:not(hover) + #second-text,
#second-image:not(hover) + #second-text a,
#third-image:not(hover) + #third-text,
#third-image:not(hover) + #third-text a {
    transition: width 0.5s ease-out, color 1s ease-in;
}

#first-image:not(hover) + #first-text h1,
#second-image:not(hover) + #second-text h1,
#third-image:not(hover) + #third-text h1 {
    transition: border-bottom 0.5s ease-out;
}

#social ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

#social li {
    transition: 0.25s;
}

#social li:hover {
    transform: translateY(20px);
    filter: drop-shadow(3px 1px var(--colour-yellow));
    transition: transform 0.5s;
}

#top {
    display: flex;
    flex-direction: column;
    margin: -120px auto;
}

nav a:hover,
#current-link:hover {
    border-radius: 20px;
    font-size: 40px;
    transition: font-size 0.5s ease, background-color 0.5s ease;
}

@media screen and (max-width: 1400px) {
    header a {
        font-size: 30px;
    }
    .logo {
        width: 100px;
    }
    #current-link,
    nav a:hover {
        font-size: 34px !important;
    }
}

@media screen and (max-width: 1300px) {
    header a {
        font-size: 24px;
    }
    .logo {
        width: 80px;
    }
    #current-link,
    nav a:hover {
        font-size: 28px !important;
    }
}

@media screen and (max-width: 1150px) {
    header a {
        font-size: 18px;
    }
    .logo {
        width: 60px;
    }
    #current-link,
    nav a:hover {
        font-size: 18px !important;
    }
    .page-content {
        flex-direction: column-reverse;
        justify-content: center;
        margin: 110px auto;
    }
    .text-left {
        min-height: 500px !important;
        min-width: 600px !important;
        border-radius: 50px;
        position: unset;
        margin: 0;
        font-size: 0.8rem;
    }
    .image {
        border-radius: 50px !important;
        position: unset;
        min-width: 600px;
        margin: 25px;
        pointer-events: none;
    }
    #bottom iframe {
        width: 580px;
    }
    #bottom-center {
        flex-direction: column;
    }
}
